/*  
  _           _                     
 | |__   __ _| |___  __ _ _ __ ___  
 | '_ \ / _` | / __|/ _` | '_ ` _ \ 
 | |_) | (_| | \__ \ (_| | | | | | |
 |_.__/ \__,_|_|___/\__,_|_| |_| |_|
                                    
*/

/*      title style
*/

        .giulio a:link{
            font-family:  'Didot', serif;
            font-size: 70px;
            font-weight: 400;
            color: black;
            padding: 0px;
            margin: 0px;
            text-shadow: 0 0 50px rgba(0,0,0,0.3);
            text-decoration:none;
        }        
        .giulio a:hover{
            font-family:  'Didot', serif;
            font-size: 70px;
            font-weight: 400;
            padding: 0px;
            margin: 0px;
            color: transparent;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            text-decoration-line: none;
            
        }  
        
        .giulio a:visited {
            color: black;
        }

/*		MENU STYLE
*/
        .menu a:link{
            font-family: 'Helvetica', sans-serif;
            padding: 0px;
            margin: 0px;
            color: black;
            text-decoration:none;
        }        
        .menu a:hover{
            font-family: 'Helvetica', sans-serif;
            padding: 0px;
            margin: 0px;
            color: transparent;
            text-shadow: 0 0 4px rgba(0,0,0,0.3);
            text-decoration-line: none;
            
        }  
        
        .menu a:visited {
            color: black;
        }
        
        
		h1 {
			font-family:  'Didot', serif;
            font-size: 70px;
            font-weight: 400;
            padding: 0px;
    		margin: 0px;
            text-shadow: 0 0 50px rgba(0,0,0,0.3);
		}

        h1:hover {
            font-family:  'Didot', serif;
            font-size: 70px;
            font-weight: 400;
            padding: 0px;
            margin: 0px;
            color: transparent;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            text-decoration-line: none;

        }


        h3 {
            font-family:  'Didot', serif;
            font-size: 20px;
            font-weight: 400;
            padding: 0px;
            margin: 0px;
            text-shadow: 0 0 50px rgba(0,0,0,0.3);
        }

p {
    font-family:  'Helvetica', serif;
    text-align: right;
}

/*
		Big links in the index page
*/
	   .indexbig  a:link {
			font-family:  'Helvetica', sans-serif;
            font-size: 40px;
            font-weight: 400;
            text-decoration: none;
			color: black
		}
        
 		.indexbig a:hover {
			font-family:  'Helvetica', sans-serif;
            font-size: 40px;
            font-weight: 400;
            color: transparent;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            text-decoration: none;
            
		}

        .indexbig a:visited {
            color: black;
}
        
        .body a:link {
			font-family:  'Helvetica', sans-serif;
            font-size: 40px;
            font-weight: 400;
            text-decoration-line: none;
		}
        
        .body a:hover {
			font-family:  'Helvetica', sans-serif;
            font-size: 40px;
            font-weight: 400;
            color: transparent;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            text-decoration-line: none;
            
		}
        
        .body a:visited {
            color: black;
        }
        
		
/*      BACKGROUD COLOR
*/
		body{
		background: white; 
		}

/*      CANVAS
*/        
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
